input, textarea, select, button {
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid @gray-lighter;
  outline: none;
}

textarea {
  font-family: inherit;
}

input:focus, textarea:focus,
input:active, textarea:active {
    border-color: @electric-blue;
}

input.error, textarea.error {
  border-color: @light-orange;
}

button, input[type=submit], .button {
  background-color: @gray-lighter;
  color: @color-dark;

  font-size: 12px;
  border-radius: 1px;
  border: 1px solid @gray-light;
  padding: 6px 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -1px 0 fadeout(@black, 75%) inset, 0 -2px 0 fadeout(@black, 75%) inset;
  }
}

.button-primary {
  background-color: @electric-blue;
  color: @color-light;
  border-color: @dark-blue;
}

.button-secondary {
  border-color: darken(@dark-orange, 15%);
  background-color: @dark-orange;
  color: @gray-darker;
}

.button-highlight {
  border-color: darken(@light-orange, 15%);
  background-color: @light-orange;
  color: @color-dark;
}

button, input[type=submit] {
  padding: 6px 15px;
}

form {
  input[type=radio] {
    margin: 3px;
  }
  label {
    font-weight: 700;
  }
  .info {
    font-size: 11px;
    font-weight: 400;
    color: @gray-light;
  }

  .inline {
    label {
      display: flex;
      align-items: center;
      > span {
        width: 150px;
      }
      input[type=text], select, textarea {
        width: 300px;
      }
    }

    .info {
      margin-left: 150px;
    }
  }

  .inline-block {
    label {
      margin-right: 20px;
    }
    input[type=radio] {
      margin-right: 10px;
    }
  }

  .block {
    label {
      display: flex;
      flex-flow: column;
      span {
        //display: inline-block;
      }
    }
  }
}
