// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
  *zoom:1;

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}

.square(@size) {
  .size(@size, @size);
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-tooltip {
  position: relative;
  .tooltip-content {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    right: 0;

    padding: 5px 10px;

    color: @color-light;
    background-color: @electric-blue;
    border: 1px solid @dark-blue;
    border-radius: 3px;
    box-shadow: 0 0 5px fadeout(@black, 70%);

    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  &:hover {
    .tooltip-content {
      opacity: 1;
    }
  }
}

#layout {
  .header-actions() {
    align-self: center;
    margin-right: 5px;
    .button {
      margin-left: 5px;
    }
  }

  .header() {
    height: @main-header-height;
    justify-content: space-between;

    .header-info {
      padding: 0 10px;
      h2, h3 {
        .text-overflow;
        .icon {
          cursor: pointer;
          vertical-align: middle;
          margin-left: 5px;
          svg {
            .square(24px);
          }

          &.icon--favorite {
            svg {
              fill: @gray-lighter;
            }

            &:hover {
              svg {
                fill: gold;
              }
            }
          }
        }
      }

      h2 {
        font-size: 28px;
        line-height: 1.2em;
        font-weight: 400;
        margin: 6px 0 0;
      }

      h3 {
        color: @gray-light;
        font-size: 14px;
        font-weight: 300;
        margin: -2px 0 5px;
      }

    }

    .actions {
      .header-actions();
    }
  }

  .panel() {
    overflow-y: auto;
    overflow-x: hidden;
    h2, h3 {
      color: @electric-blue;
      font-weight: 300;
    }

    h2 {
      font-size: 28px;
      line-height: 1.2em;
    }
  }
}


#user {
  .status-icon(@background-color: @background-light, @with-status: true) {
    .user-status-icon when (@with-status = true) {
      .square(10px);
      background-color: @status-color-online;
      border: 3px solid @background-color;
      border-radius: 50%;

      transition: background-color 250ms ease,
        border-color 250ms ease;

      &[data-status="-1"], &[data-status="0"] {
        background-color: @status-color-offline;
      }

      &[data-status="1"] {
        background-color: @status-color-connecting;
      }

      // IDLE
      &[data-status="3"] {
        background-color: @status-color-idle;
        &:before, &:after {
          position: absolute;
          content: "";
          background-color: fade(@white, 60%);
          left: 4px;
        }
        &:before {
          top: 1px;
          .size(1px, 4px);
        }

        &:after {
          top: 5px;
          .size(4px, 1px);
        }
      }

      // AWAY
      &[data-status="4"] {
        background-color: @status-color-away;
      }

      // DND
      &[data-status="5"] {
        background-color: @status-color-dnd;
      }
    }

    .user-status-icon when (@with-status = false) {
      display: none;
    }
  }
}
