.x-tabbar {
  display: flex;
  flex-flow: column nowrap;
  .x-tabs {
    border-bottom: 1px solid @gray-lighter;
    padding: 0 10px;
    a {
      padding: 5px 10px;
      display: inline-block;
      position: relative;
      top: 1px;
      color: @gray-light;
      vertical-align: bottom;
      cursor: pointer;

      &.x-tab-selected {
        background-color: @white;
        color: @color-dark;

        border-top: 1px solid @gray-lighter;
        border-left: 1px solid @gray-lighter;
        border-right: 1px solid @gray-lighter;
      }
    }
  }
  .x-tab-content {
    flex-grow: 1;
    background-color: @white;
    padding: 10px 15px;
  }
}

.x-radio-switch {
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 14px;
  border: 1px solid @gray-dark;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @gray;
    border-radius: 14px;
    transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;

    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      background: @background-light;
      border-radius: 10px;
      transition: all 0.15s ease;
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
        0 3px 3px 0 rgba(0, 0, 0, 0.05);
    }
  }

  &.x-radio-switch--checked {
    border-color: @dark-orange;
    div {
      background: @light-orange;
      &:after {
        transform: translateX(20px);
      }
    }
  }

  &.x-radio-switch--disabled {
    border-color: @gray-light;
    div {
      background: @light-orange;
      filter: grayscale();
      &:after {
        opacity: 0.75;
      }
    }
  }
}

.x-radio-group {
  .x-radio-group-item {
    border: 1px solid @gray-lighter;
    border-radius: 3px;
    padding: 5px;

    label {
      cursor: pointer;
    }

    .x-radio-group-item-tick {
      position: relative;
      border: 1px solid @gray-lighter;
      border-radius: 3px;
      .square(24px);
      margin-right: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
      }

      svg {
        polyline {
          stroke: @dark-orange;
        }
      }
    }

    &.x-radio-group-item--checked {
      border-color: @dark-orange;
      background-color: @light-orange;

      .x-radio-group-item-tick {
        background-color: @background-light;
        border-color: @dark-orange;
      }
    }
  }

  .x-radio-group-item + .x-radio-group-item {
    margin-top: 5px;
  }
}

.dialog__backdrop {
  align-items: center;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  z-index: 100;
  &.dialog-enter,
  &.dialog-exit.dialog-exit-active {
    background-color: fade(rgb(1, 1, 1), 0%);
  }

  &,
  &.dialog-enter.dialog-enter-active,
  &.dialog-exit {
    background-color: fade(rgb(1, 1, 1), 80%);
  }
}

.dialog {
  opacity: 1;
  position: relative;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  overflow: hidden;
  // IE needs a horizontal margin values to properly center flex item
  margin: auto 0;

  display: flex;
  flex-flow: column nowrap;

  color: @color-dark;
  background-color: @background-light;
  border-radius: 4px;

  .dialog-enter &,
  .dialog-exit.dialog-exit-active & {
    opacity: 0;
    transform: scale(1.2);
  }

  &,
  .dialog-enter.dialog-enter-active &,
  .dialog-exit & {
    opacity: 1;
    transform: scale(1);
  }
}

.dialog__header {
  #layout.header();
  display: flex;
  flex-flow: row nowrap;
  background-color: @electric-blue;
  color: @color-light;

  .header-info {
    flex: 1;
    min-width: 1px;

    h3 {
      color: @color-light;
    }
  }
}

.dialog__content {
  #layout.panel();
  flex: 1;
  min-height: 1px;
  padding: 10px;

  h2,
  h3 {
    border-bottom: 1px solid fadeout(@electric-blue, 80%);
  }
}

.dialog__action-buttons {
  #layout.header-actions();
  margin-right: 15px;
  .icon {
    margin: 0;
  }
}

.setting-item {
  margin: 10px 0;
  .setting-item--info {
    > div {
      .text-overflow;
      line-height: 20px;
    }
    em {
      font-size: 12px;
      line-height: 12px;
      color: @gray-light;
    }
  }

  .setting-item--toggle {
    margin-left: 15px;

    .button {
      font-size: 11px;
      border-color: fadeout(@black, 85%);
      position: relative;
      z-index: 1;

      &:not(.button-highlight) {
        box-shadow: inset 0px 0px 2px 1px fadeout(@black, 90%);
      }
    }
    .button + .button {
      margin-left: -2px;
    }

    .button:first-child {
      border-radius: 2px 0 0 2px;
    }

    .button:last-child {
      border-radius: 0 2px 2px 0;
    }

    .button-highlight {
      z-index: 2;
    }
  }
}

.setting-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr:nth-child(odd) {
    background-color: @gray-lighter;
  }
  td {
    padding: 0 5px;
    &:last-child {
      text-align: center;
    }
  }
  tfoot tr td {
    padding-top: 5px;
    background-color: @white !important;
    input {
      margin-left: -5px;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.popover-container {
  position: relative;
}

.popover {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: @background-light;
  color: @color-dark;
}

.popover-up {
  bottom: 100%;
}

.menu {
  li {
    padding: 5px;
    cursor: pointer;
    color: @gray-light;

    a {
      display: block;
      color: inherit;
    }

    .icon svg {
      .square(20px);
      fill: @gray-light;
      margin-right: 5px;
      vertical-align: middle;
    }

    &.separator {
      padding: 0;
      border-bottom: 1px dotted @gray-light;
    }

    &:hover {
      color: @color-dark;
      background-color: @gray-lighter;
      .icon svg {
        fill: @color-dark;
      }
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: fade(rgb(1, 1, 1), 80%);

  display: flex;
  flex-flow: column nowrap;

  .lightbox-content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 3px;
    }
  }

  .lightbox--open-original {
    font-weight: 700;
    color: @gray-light;
    &:hover {
      color: #fff;
    }
  }
}
