extends:
  eslint-config-airbnb

parser:
  babel-eslint

env:
  node: true
  jasmine: true

rules:
  quotes: [2, "double", "avoid-escape"]
  indent: 2
  func-style: 0
  func-names: 0
  comma-dangle: 0
  no-console: 0
  no-param-reassign: 0
