dist/
.vagrant/
.c9revisions/
settings.yml
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.idea
*._
*.sw[opqr]
*.swap
.*.swp
*humbs.db
*.key
*.pem
*.crt
*.csr
ehthumbs.db
Thumbs.db

etc/nginx.conf
*.couch
!etc/minni-demo.couch
