extends layout

block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")
  script#data-holder(data-user=user, data-accounts=accounts).
    
block header_outer
  
block banner_outer
    
block flash
    
block footer_outer
  
block main
  #splashscreen
    img(src="/images/logo-color.png")
    h2 Let's do this
  #minni
  
append scripts
  script(src="/js/minni-bundle.js")
