extends layout

block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")

block header_outer
  
block banner_outer
    
block footer_outer

block content

append scripts
  script(src="/js/minni-bundle.js")
