extends layout

block styles
  link(rel="stylesheet", href="/css/chat.css")
    
block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")
    
block header_outer
  
block banner_outer
    
block flash
    
block footer_outer
  
block main
  #minni
  #splashscreen
    .splashscreen-inner
      img(src="/images/logo-color.png")
      h3 Please wait
      p We are setuping your cloud office...
  
  
append scripts
  script(src="/js/minni-bundle.js")
