extends layout

block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")
    
block header_outer
  
block banner_outer
    
block flash
    
block footer_outer
  
block main
  #splashscreen
    img(src="/images/logo-color.png")
    p
      | Please wait
      br
      | We are setuping your cloud office...
  #minni
  
append scripts
  script(src="/js/minni-bundle.js")
