extends layout

block styles
  link(rel="stylesheet", href="/css/hljs-default.min.css")
  link(rel="stylesheet", href="/css/chat.css")

block header_scripts
  script(src="/socket.io/socket.io.js")
  if production
    script(src="/js/#{hash['vendor.js']}")
  else
    script(src="/js/vendor-bundle.js")
block header_outer

block banner_outer

block flash

block footer_outer

block main
  #minni
  if splashscreen
    #splashscreen
      .splashscreen-inner
        include ../../public/logo.svg
        h3 Please be patient
        p We are setting up your cloud office...



append scripts
  if production
    script(src="/js/#{hash['minni.js']}")
    script(src="/js/#{hash['plugins.js']}")
  else
    script(src="/js/minni-bundle.js")
    script(src="/js/plugins-bundle.js")
