extends layout

block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")
  script(src="/js/minni-bundle.js")

block content
  pre #{config.firstName} #{config.lastName}
