extends layout

block styles
  link(rel="prefetch", href="/videos/minni-animated-logo.webm")
  link(rel="prefetch", href="/videos/minni-animated-logo.mp4")
  link(rel="stylesheet", href="/css/hljs-default.min.css")
  link(rel="stylesheet", href="/css/chat.css")
    
block header_scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor-bundle.js")
    
block header_outer
  
block banner_outer
    
block flash
    
block footer_outer
  
block main
  #minni
  #splashscreen
    .splashscreen-inner
      video(autoplay=true, loop=true, style="background-color: transparent; width:242px; height:246px")
        source(src="/videos/minni-animated-logo.webm", type="video/webm")
        source(src="/videos/minni-animated-logo.mp4", type="video/mp4")
      h3 Please be patient
      p We are setting up your cloud office...

  
  
append scripts
  script(src="/js/minni-bundle.js")
