extends auth

block form-title
  h1 Welcome to #{name}

block form
  .email
    form(method="POST", action="/login")
      p
        input(type="text", placeholder="Identifier (email)", name="username")
      p
        input(type="password", placeholder="Password", name="password")
      .links
        div Forgot your password ?
          a(href="/login/reset-password") Reset
      p
        button.button-highlight.button-big Sign in

  .links
    div Don't have yet an account ?
      a(href="/signup") Signup
