extends layout

block content
  h3 Please use one of these providers to login
  each provider in providers
    div(class=["provider", "provider-#{provider}"])
      a(href="/login/#{provider}") #{provider}
