extends layout

block content
  .content
    .greetings
      img.logo(src="/images/logo.png")      
    
    .providers
      h1 Sign in to minni
      - filteredProviders = providers.filter(function (p) { return p !== "local"; })
      p Sign in with <span class="providers-list">#{filteredProviders.join(", ")}</span> or Email
      
      .providers-links
        each provider in filteredProviders
          a(class=["provider", "provider-#{provider}"], href="/login/#{provider}") #{provider}

      .email
        form(method="POST", action="/login")
          p
            input(type="text", placeholder="Identifier (email)", name="username")
          p
            input(type="password", placeholder="Password", name="password")
          p
            button Sign in
    
  //- div
  //-   a(href="/login/reset-password") Forgot password?
  
