extends auth

block providers

block form-title
  h1 Reset your password

block form
  .email
    form(method="POST", action="/login/reset-password")
      p
        input(type="text", placeholder="Identifier (email)", name="username")

      p
        button.button-highlight.button-big Send me the instructions

  .links
    div Maybe you think you remember it ?
      a(href="/login") Signin
