extends auth

block form-title
  h1 Create an account

block form
  .email
    form(method="POST", action="/signup")
      p
        input(type="text", placeholder="Choose a username", name="username", value=fields.username)
      p
        input(type="text", placeholder="Email (we need one as unique id)", name="email", value=fields.email)
      p
        input(type="password", placeholder="Choose a password", name="password")
      p
        button.button-highlight.button-big Create your account

  .links
    div Already have an account ?
      a(href="/login") Login
