body.chat {
  overflow-x: hidden;
  #splashscreen {
    position: absolute;
    .square(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: @background-dark;
    text-align: center;
    img {
      .square(256px);
      margin: 30px 30px 0;
    }
  }

  #minni {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    &.fadein {
      opacity: 1;
    }
  }

  > main {
    background-color: @background-dark;
  }
}

.icon {
  svg {
    .square(36px);
  }

  &:hover, &.icon--active {
    svg {
      fill: @electric-blue;
    }
  }
}

.powered-by-minni {
  img {
    .square(36px);
  }
}

.minni-app {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: @background-light;

  > header {
    background-color: @background-dark;
    color: @color-light;
    width: @main-sidebar-width;
    display: flex;
    flex-flow: column wrap;

    h1 {
      height: @main-header-height;
      margin: 15px 0 15px;
      text-indent: -9999px;
      background: url(/images/logo.png) center center no-repeat;
      background-size: 64px 64px;
    }

    h2.account {
      font-weight: 400;
      margin: 10px 20px;
      text-transform: capitalize;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    > nav {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      overflow-y: auto;
      overflow-x: hidden;

      a.room {
        flex: 0 0 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        font-size: 13px;

        opacity: .5;
        transition: opacity 250ms;

        .icon {
          .square(28px);
          margin: 5px 2px 5px 12px;
          svg {
            .square(28px);
            fill: @gray-light;
            transition: fill 250ms;
          }
        }

        .name {
          flex: 1;
          .text-overflow;
        }

        &:hover {
          background-color: fade(@black, 15%);
          opacity: 1;

        }

        &.selected {
          background-color: @dark-blue;
          opacity: 1;
          .icon svg {
            fill: @white;
          }
        }
      }

      .lobby, .separator {
        margin-bottom: 5px;
      }

      .separator {
        letter-spacing: .1em;
        text-transform: uppercase;
        color: @white;
        margin: 10px 20px;
        max-height: 2em;
      }

      .lobby.selected {
        background-color: fade(@black, 15%);
      }
    }

    &.welcome {
      justify-content: center;
      text-align: center;

      > h2, div, p {
        margin-left: 10px;
        margin-right: 10px;
      }

      .button {
        width: @main-sidebar-width * 0.6;
        align-self: center;
      }
    }
  }

  > main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;

    color: @color-dark;

    > section, > aside {
      display: flex;
      flex-flow: column nowrap;

      header {
        height: @main-header-height;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      section.panel {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;

        h2, h3 {
          color: @electric-blue;
          font-weight: 300;
        }

        h2 {
          font-size: 28px;
          line-height: 1.2em;
        }

        header {
          height: auto;
          .actions {
            align-self: center;
            margin-right: 5px;
            .button {
              margin-left: 5px;
            }
          }
        }
      }

      section.panel--contrast {
        background-color: @white;
        border-top: 1px dotted @gray-light;
      }
    }

    header {
      .header-info {
        flex: 1 1 50%;
        display: inline-block;
        padding: 0 10px;
        overflow: hidden;

        h2, h3 {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-transform: capitalize;

          .icon {
            cursor: pointer;
            vertical-align: middle;
            margin-left: 5px;
            svg {
              .square(24px);
            }

            &.icon--favorite {
              svg {
                fill: @gray-lighter;
              }

              &:hover {
                svg {
                  fill: gold;
                }
              }
            }
          }
        }


        h2 {
          font-size: 28px;
          line-height: 1.2em;
          font-weight: 400;
          margin: 6px 0 0;
        }

        h3 {
          color: @gray-light;
          font-size: 14px;
          font-weight: 300;
          margin: -2px 0 5px;
        }
      }

      .actions {
        align-self: center;
        margin-right: 15px;
      }
    }

    > section {
      flex: 1;
    }

    > aside {
      width: @content-sidebar-width;
    }
  }
}

header .user-info {
  height: @main-user-info-height;
  background-color: @dark-blue;

  .user {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .user-avatar {
      margin: 5px 10px;
      position: relative;
      img {
        vertical-align: middle;
        border-radius: 50%;
        .square(42px);
      }

      #user.status-icon(@dark-blue);
      .user-status-icon {
        transition: background-color 250ms ease;
        position: absolute;
        bottom: -3px; right: -3px;
      }
    }
    .user-name {
      font-weight: 400;
    }

    .user-status {
      font-weight: 300;
      font-size: 11px;
      line-height: 1.2em;
    }
  }

  &:hover {
    @background-color: lighten(@dark-blue, 8%);
    cursor: pointer;
    background-color: @background-color;

    .user-status-icon {
      border-color: @background-color !important;
    }
  }
}

.lobby {
  aside {
    background-color: @gray-lighter;

    .coworker-all-alone {
      padding: 2em;
      align-self: center;
      text-align: center;
      margin: auto 0;
    }
  }
  // > section {
  //   position: relative;
  //   z-index: 0;
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     z-index: -1;
  //     background: url(/images/logo-color.png) 75% 75% no-repeat;
  //     background-size: 100%;
  //     opacity: 0.05;
  //     filter: grayscale();
  //   }
  // }

  .rooms {
    .room {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 5px;

      color: inherit;
      cursor: pointer;

      .room--name {
        font-weight: 700;
        margin-right: 10px;
      }

      .room--topic {
        flex: 1;
        .text-overflow;
      }

      .room--icon {
        margin-left: 5px;
        svg {
          .square(24px);
          fill: @gray-light;
          vertical-align: middle;
        }

        &.icon--show-on-hover {
          display: none;
        }
      }

      &.room-favorite {
        .icon--favorite {
          svg {
            fill: gold !important;
          }
        }
      }

      &:nth-child(even) {
        background-color: @gray-lighter;
      }

      &:hover {
        background-color: @electric-blue;
        color: @color-light;

        .room--icon {
          svg {
            fill: @gray-dark;
          }

          &.icon--show-on-hover {
            display: block;
          }

          &:hover {
            svg {
              fill: @background-light;
            }
          }
        }

        .icon--favorite:hover {
          svg {
            fill: gold;
          }
        }
      }
    }

  }
}

.account-switcher {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  //width: @main-account-switcher-width;
  flex: 0 0 @main-account-switcher-width;
  transition: flex-basis 500ms;
  background-color: darken(@background-dark, 1%);
  padding: 5px 0;
  border-right: 1px solid fade(@black, 30%);

  .account {
    opacity: 0.35;
    transition: opacity 500ms;

    > div {
      .square(@main-account-switcher-width / 2);
      line-height: @main-account-switcher-width / 2;
      margin: 10px 10px 5px;
      background-color: @gray-lighter;
      border-radius: 3px;
      text-align: center;
      color: @gray-light;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
    }

    &:hover {
      opacity: 1;
      > div {
        box-shadow: 0 0 0 5px @gray;
      }
    }

    &.account-selected {
      opacity: 1;
      > div {
        background-color: @orange;
        color: @color-dark;
      }
    }
  }

  a {
    align-self: center;
  }

  a.account:not(.create):after {
    display: block;
    content: attr(data-kbd-modifier) "+" attr(data-kbd-index);
    color: @gray-light;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }

  a.create {
    margin-top: auto;
    margin-bottom: 10px;
    color: inherit;
    opacity: 1;
    > div {
      background-color: darken(@background-dark, 1%);
    }
    &:hover {
      > div {
        box-shadow: none;
        background-color: @gray;
      }
    }
  }
}

.room-create, .account-create {
  .alerts {
    display: inline-block;
    .alert {
      border-radius: 2px;
      padding: 0 10px;
    }
  }
}

.room-create {
  border-right: 1px dotted @gray;
}

.account-create {
  align-self: center;

  .panel--contrast {
    border-bottom: 1px dotted @gray-light;
  }
}

.dashboard {
  .panel {
    padding: 5px !important;
  }
  .teams {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  .team {
    display: flex;
    flex-flow: column nowrap;

    background-color: @background-light;
    padding: 10px;
    margin: 5px;
    border: 3px solid @gray-lighter;
    border-radius: 2px;
    flex: 1 0 300px;


    .name {
      font-weight: 700;
      text-transform: capitalize;
    }
    .description {
      flex: 1;
      min-height: 2rem;
      min-height: 4rem;
      color: @gray-light;
      line-height: 1.5em;

      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    .actions {
      align-self: flex-end;
      margin-top: 10px;
      text-align: right;
    }
  }
}

.room {
  > section + section {
    border-left: 1px solid @gray-light;
  }

  .room--favorite {
    .icon--favorite {
      svg {
        fill: gold !important;
      }
    }
  }
}
