/***
 *** MINNI CHAT STYLES
 ***/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic);
@import url(variables.less);
@import url(mixins.less);

@import url(input.less);

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: @home-color;
  background-color: @home-background-color;
  font: 14px/26px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body > header, body > .banner,
  body > .alerts, body > main, body > footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .wrapper {
    width: @main-container-width;
  }
}

body > header {
  background-color: @background-dark;
  .wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  a {
    color: @color-light;
    text-decoration: none;
  }
  h1 {
    position: relative;
    left: -10px;
    font-weight: 300;
    margin: 48px 0;
  }
  .logo {
    text-transform: lowercase;
    img {
      width: 64px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  nav {
    flex: 1;
    text-align: right;
    font-size: 16px;
    line-height: 2em;
    a {
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      margin-left: 2em;

      &:hover {
        border-bottom-color: @dark-orange;
      }
    }
  }
}

body > .banner {
  background-color: @electric-blue;
  h2, h3 {
    font-weight: 300;
    text-shadow: 0 1px 0 fade(@black, 15%);
  }

  h2 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 20px;
    margin-top: 24px;
  }
}

.alerts {
  background-color: @background-light;
  p {
    padding: 5px 10px;
    border-radius: 3px;
  }

  .alert-error {
    background-color: @flash-messages-error;
    color: @color-dark;
  }

  .alert-info {
    background-color: @flash-messages-info;
    color: @color-dark;
  }
}

body > main {
  background-color: @background-light;
  color: @color-dark;
  padding: 20px 0;


  h3 {
    font-size: 22px;
    line-height: 16px;
    margin: 25px 0;
    font-weight: 300;
    color: @electric-blue;
  }
}

body > footer {
  padding: 20px 0;
  .logo {
    font-size: 18px;
    text-transform: lowercase;
    img {
      width: 32px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .copyright {
    color: @gray-light;
    font-size: 12px;
  }
}



/***
 *** LOGIN
 ***/
body.login, body.signup {
  background-image: url(/images/photo-overlay.png), url(/images/login/bokeh.jpg);
  background-position: 0 0;
  background-size: auto auto, cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  header, footer {
    display: none;
  }

  .wrapper {
    width: auto;
  }

  .alerts {
    background-color: transparent;
  }

  main {
    background-color: fade(@black, 40%);
    color: @color-light;
    border-radius: 3px;
    min-width: 680px;
    text-align: center;
    padding: 25px;
    position: relative;

    .content {
      display: flex;
      flex-flow: rows nowrap;
      justify-content: space-around;
    }

    input {
      border-color: @gray-dark;
    }

    .providers, .greetings {
      margin: 0 20px;
    }
    .greetings {
      display: flex;
      align-items: center;

      .logo {
        width: 256px;
        height: 256px;
      }
    }

    .providers-list, .provider {
      text-transform: capitalize;
    }

    .providers-links {
      display: flex;
      flex-flow: rows;
      justify-content: space-around;

      .provider {
        .button;
        text-decoration: none;
        margin: 0 5px;

        .logo {
          margin: 0 5px;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          opacity: 0.75;
        }
      }
    }
    .email {
      margin-top: 30px;
      input {
        width: 300px;
      }
      button {
        width: 320px;
      }
    }

    .links {
      a {
        color: inherit;
        margin: 0 10px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


body.profile {
  .column {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .personnal-info {
      flex: 2;
    }
    .avatar {
      flex: 1;
      padding: 0 20px;
      background-color: @gray-lighter;
      text-align: center;
    }
  }

  .provider {
    background-color: @gray-lighter;
    margin: 30px 0;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    > div {
      margin: 10px;
      h4 {
        margin: 0;
      }
    }
    .name div { text-transform: capitalize;}
    .logo {
      order: -1;
      img {
        vertical-align: middle;
      }
    }
    a {
      text-decoration: none;
      margin: 0 20px;
    }
  }
}
