#minni {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .flex-vertical;
}

.minni-app > main {
  background-color: @background-light;
  color: @color-dark;


  > section, > aside {

    header {
      #layout.header();
    }

    section.panel {
      #layout.panel();
    }

    section.panel--contrast {
      background-color: @white;
      border-top: 1px solid darken(@gray-lighter, 5%);
    }

    section.panel--wrapper {
      padding: 10px;
    }

    footer {
      border-top: 1px solid darken(@gray-lighter, 5%);

      .formatting-tips {
        padding-left: 24px;
        background: url(/images/svgs/keyboard.svg) center left no-repeat;
        background-size: 20px;
        code {
          background-color: fadeout(@black, 85%);
          border: 1px solid fadeout(@black, 70%);
          border-radius: 2px;
          padding: 0 2px;
        }

        .tooltip-content {
          margin-bottom: 5px;
          right: -5px;

          > span {
            margin: 0 5px;
          }
        }
      }
    }
  }

  > aside {
    width: @main-sidebar-width;
  }
}

.room-create, .account-create {
  .alerts {
    display: inline-block;
    .alert {
      border-radius: 2px;
      padding: 0 10px;
    }
  }
}

.room-create {
  border-right: 1px dotted @gray;
}

.dashboard, .account-create {
  .panel--contrast {
    border-bottom: 1px dotted @gray-light;
  }
}
