#minni {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .flex-vertical;
}

.minni-notifier {
  .notifier-message {
    text-align: center;
    transition: max-height 250ms;
    align-items: center;
    background-color: @notifier-default;
    padding: 3px 0;
    overflow: hidden;

    > div {
      font-weight: bold;
      text-shadow: 0 1px 1px fade(@black, 25%);
      line-height: 2em;
    }

    &.notifier-info { background-color: @notifier-info; }
    &.notifier-warn {
      background-color: @notifier-warn;
      color: @color-dark;
      text-shadow: 0 1px 1px fade(@white, 25%);
    }
    &.notifier-error { background-color: @notifier-error; }
    &.notifier-fatal { background-color: @notifier-fatal; }

    &.notifier-enter,
    &.notifier-leave.notifier-leave-active {
      max-height: 0;
    }

    &,
    &.notifier-enter.notifier-enter-active,
    &.notifier-leave {
      max-height: 50px;
    }
  }

  .notifier-close {
    font-size: 1.5em;
    padding: 0 15px;
    cursor: pointer;
  }
}

.minni-app > main {
  background-color: @background-light;
  color: @color-dark;


  > section, > aside {

    header {
      #layout.header();

      .actions .icon {
        cursor: pointer;

        svg {
          .square(28px);
        }
      }
    }

    section.panel {
      #layout.panel();
    }

    section.panel--contrast {
      background-color: @white;
      border-top: 1px solid darken(@gray-lighter, 5%);
    }

    section.panel--wrapper {
      padding: 10px;
    }

    footer {
      border-top: 1px solid darken(@gray-lighter, 5%);

      .formatting-hints {
        cursor: help;
        padding-left: 24px;
        background: url(/images/svgs/keyboard.svg) center left no-repeat;
        background-size: 20px;
        code {
          padding: 0 2px;
        }

        .tooltip-content {
          cursor: text;

          margin-bottom: 5px;
          right: -5px;

          width: 400px;

          div {
            padding: 4px 0;
          }

          div:not(:last-child) {
            border-bottom: 1px dotted @gray-lighter;
          }

          .hint {
            width: 200px;
            margin-right: 15px;
          }

          .code-block {
            line-height: 18px;
          }

          blockquote {
            margin: 0;
          }

          .message--code-block {
            margin-left: 0;
          }
        }
      }
    }
  }

  > aside {
    width: @main-sidebar-width;
  }
}

.room-create, .account-create {
  .alerts {
    display: inline-block;
    .alert {
      border-radius: 2px;
      padding: 0 10px;
    }
  }
}

.dashboard, .account-create {
  .panel--contrast {
    border-bottom: 1px dotted @gray-light;
  }
}

.welcome {
  flex: 640px 0 0;
  align-self: center;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-size: 36px;
  }

  > p {
    font-size: 20px;
    margin: 20px auto;
  }

  .create-or-join {
    position: relative;
    background-color: @background-light;
    color: @color-dark;
    border-radius: 4px;

    margin-top: 15px;
    min-height: 320px;

    overflow: hidden;

    .create, .join {
      margin: 25px 15px 0;
      flex: 1;
      h3 {
        font-size: 24px;
      }
      svg {
        .square(128px);
        fill: @gray;
      }
      p {
        color: @gray;
        margin: 10px 0;
      }
    }
    .create h3 {
      color: @electric-blue;
    }
    .join h3 {
      color: @dark-orange;
    }

    .separator {
      width: 0;
      border-left: 3px solid @background-dark;
      border-right: 3px solid @background-dark;

      &:after {
        @size: 24px;
        content: attr(data-text);
        font-weight: bold;
        position: absolute;
        .square(@size);
        line-height: @size;
        padding: 6px;
        border-radius: 50%;
        background-color: @background-dark;
        border: 6px solid @background-dark;
        color: @color-light;
        margin-left: -@size;
        margin-top: -@size;
        top: 50%;
      }
    }

    .actions {
      padding: 10px 15px;
      background-color: @gray-lighter;
      border-top: 1px dotted @gray-light;
    }

    .create-or-join-choice, .create-choice, .join-choice {
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
    }

    .slide-enter {
      &.create-or-join-choice {
        transform: translate(-100%);
      }

      &.create-choice, &.join-choice {
        transform: translate(100%);
      }
    }

    .slide-enter.slide-enter-active {
      transition: transform 300ms ease-in-out;
      &.create-or-join-choice {
        transform: translate(0%);
      }

      &.create-choice, &.join-choice {
        transform: translate(0%);
      }
    }

    .slide-leave {
      &.create-or-join-choice {
        transform: translate(0%);
      }
      &.create-choice, &.join-choice {
        transform: translate(0%);
      }
    }

    .slide-leave.slide-leave-active {
      transition: transform 300ms ease-in-out;
      &.create-or-join-choice {
        transform: translate(-100%);
      }
      &.create-choice, &.join-choice {
        transform: translate(100%);
      }
    }
  }
}
