.icon {
  svg {
    .square(36px);
    vertical-align: middle;
  }

  &:hover, &.icon--active {
    svg {
      fill: @electric-blue;
    }
  }
}

.spinner {
  .square(48px);
}

.pointer {
  cursor: pointer;
}

.avatar {
  position: relative;
  .square(@avatar-medium-size);
  background-size: @avatar-medium-size;
  border-radius: 50%;
  background-color: darken(@gray-lighter, 5%);
  color: @gray-light;
  font-size: 20px;
  line-height: @avatar-medium-size;

  &.avatar--with-initials {
    &:after {
      content: attr(data-initials);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      font-weight: 300;
    }
  }

  &.avatar--offline {
    filter: grayscale(100%);
  }

}

.avatar-small {
  @size: @avatar-medium-size / 2;
  .square(@size);
  background-size: @size;
  font-size: 9px;
  line-height: @size
}

.avatar-large {
  @size: @avatar-medium-size * 2;
  .square(@size);
  background-size: @size;
  font-size: 36px;
  line-height: @size;
}

.avatar-xlarge {
  .square(160px);
  background-size: 160px;
  font-size: 48px;
  line-height: 160px;
}

.alerts {
  background-color: @background-light;
  p {
    padding: 5px 10px;
    border-radius: 3px;
  }

  .alert-error {
    background-color: @flash-messages-error;
    color: @color-dark;
  }

  .alert-info, .alert-success {
    background-color: @flash-messages-info;
    color: @color-dark;
  }
}

.with-tooltip {
  position: relative;
}

.with-tooltip:hover {
  &:before, &:after {
    z-index: 1;
  }
  &:before {
    position: absolute;
    content: "";
    top: 65%;
    left: 15px;
    .square(0px);
    border: 5px solid transparent;
    border-bottom-color: @electric-blue;
  }

  &:after {
    content: attr(data-tooltip);
    position:absolute;
    left: 5px;
    top: 90%;
    background-color: @electric-blue;
    color: @white;
    font-size: 11px;
    line-height: 24px;
    padding: 0 5px;
    border-radius: 2px;
    white-space: nowrap;
  }
}

.dialog__content {
  h3 {
    text-transform: uppercase;
    margin: 1em 0;
  }
}
