.lobby {
  > section > section {
    flex: 1 0 0;
  }

  aside {
    background-color: @gray-lighter;

    .coworker-all-alone {
      padding: 2em;
      align-self: center;
      text-align: center;
      margin: auto 0;
    }

    .user-info {
      align-items: center;
      margin-left: -10px;
      margin-right: -10px;
      cursor: default;
      padding: 2px 10px;

      .user-avatar {
        position: relative;
        margin: 5px 10px 5px 0;
        #user.status-icon(@gray-lighter);
        .user-status-icon {
          position: absolute;
          bottom: -3px; right: -3px;
        }
      }
      .user-name {
        .text-overflow;
        font-weight: 400;
      }

      .user-status {
        font-weight: 300;
        font-size: 11px;
        line-height: 1em;
        color: @gray;
        font-style: italic;
      }

      &:hover {
        background-color: @background-light;

        .user-avatar {
          .user-status-icon {
            border-color: @background-light;
          }
        }
      }
    }
  }

  .rooms--header {
    height: auto;
    margin-bottom: 15px;
    .actions {
      margin-right: 0;
    }
  }

  .rooms--list {
    .room {
      padding: 5px;
      color: inherit;
      cursor: pointer;

      .room--name {
        font-weight: 700;
        margin-right: 10px;
      }

      .room--topic {
        .text-overflow;
      }

      .room--icon {
        margin-left: 5px;
        svg {
          .square(24px);
          fill: @gray-light;
          vertical-align: middle;
        }

        &.icon--show-on-hover {
          display: none;
        }
      }

      &.room-favorite {
        .icon--favorite {
          svg {
            fill: gold !important;
          }
        }
      }

      &:nth-child(odd) {
        background-color: @gray-lighter;
      }

      &:hover {
        background-color: @electric-blue;
        color: @color-light;

        .room--icon {
          svg {
            fill: @gray-dark;
          }

          &.icon--show-on-hover {
            display: block;
          }

          &:hover {
            svg {
              fill: @background-light;
            }
          }
        }

        .icon--favorite:hover {
          svg {
            fill: gold;
          }
        }
      }
    }
  }
}
