.lobby {
  > section > section {
    flex: 1 0 0;
  }
  
  aside {
    background-color: @gray-lighter;

    .coworker-all-alone {
      padding: 2em;
      align-self: center;
      text-align: center;
      margin: auto 0;
    }
  }
}
