code {
  font: 12px/18px "Source Code Pro", "Consolas";
}

.messages {
  padding: 10px;

  .message-timestamp {
    padding: 1px;
    margin: 0 -10px 10px -10px;
    text-align: center;
    background-color: fade(@black, 2%);
    h4 {
      margin: 15px 0;
      font-weight: 400;
      font-size: 24px;
    }
  }

  .message-group {
    margin-bottom: 10px;

    .avatar {
      margin-top: 10px;
      margin-right: 10px;
    }

    .message {
      position: relative;
    }

    .message--content {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 1px;
      border-radius: 4px;
      background-color: @gray-lighter;

      a {
        color: @electric-blue;
        text-decoration: underline;
      }
    }

    .message--header, .message--timestamp {
      font-size: 11px;
      color: @gray;

      .timestamp {
        margin: 0 5px;
        color: @gray-light;
      }
    }

    .message--timestamp {
      display: none;
      position: absolute;
      right: 100%;
      color: @gray-light;
      font-size: 9px;
      width: 40px;
      margin-right: 10px;
      white-space: nowrap;
      text-align: center;
    }

    .message:hover {
      .message--timestamp {
        display: block;
      }
    }
  }

  .message-group:last-child {
    margin-bottom: 5px;
  }

  .message-group-me {
    .message--content {
      background-color: @light-blue;
      color: @color-light;

      a {
        color: inherit;
      }
    }
  }
}

.message-group {
  .language {
    font-size: 11px;
    margin: 0 -10px;
    padding: 0 10px;
  }

  code:not(.hljs) {
    line-height: 28px;
    background-color: fadeout(@white, 60%);
    display: inline-block;
    &:before, &:after {
      content: '\00a0';
      letter-spacing: -0.2em;
    }
  }

  pre {
    margin: 0 -10px;
    background-color: fadeout(@white, 25%);
    code.hljs {
      background-color: fadeout(@white, 60%);
      padding: .5em 10px;
      border-left: 1px solid @gray-lighter;
      border-right: 1px solid @gray-lighter;
      border-bottom: 1px solid @gray-lighter;
      border-radius: 0 0 4px 4px;
    }
  }

  .mention {
    background-color: @mention-background-color;
    display: inline-block;
    &:before, &:after {
      content: '\00a0';
    }
  }
}

.message-group-me {
  .mention {
    background-color: fadeout(@black, 85%);
  }

  pre code.hljs {
    border-left-color: @electric-blue;
    border-right-color: @electric-blue;
    border-bottom-color: @electric-blue;
  }
}
