code {
  font: 12px/18px "Source Code Pro", "Consolas";
}

.hljs {
  overflow: hidden;
}

.messages {
  padding: 10px;

  .message-welcome, .message-timestamp {
    padding: 1px;
    margin: 0 -10px 10px -10px;
    background-color: fade(@black, 2%);
  }

  .message-loading-more, .message-has-more {
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: @gray-light;
    padding-top: 15px;
    margin-top: 64px;
  }

  .message-has-more span {
    color: @light-blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .message-timestamp {
    text-align: center;
    background: linear-gradient(to bottom, fade(@white, 0) 0%, fade(@black, 2%) 100%);
    border-bottom: 1px dotted #ccc;

    h4 {
      margin: 15px 10px;
      font-weight: 400;
      font-size: 24px;
    }
  }

  .message-welcome {
    margin-top: -10px;
    padding: 0 15px 10px;
    border-bottom: 1px dotted @gray-lighter;

    h3 {
      margin: 0;
      padding-top: 35px;
      color: @gray-dark !important;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      color: @gray-light;
    }
  }

  .message-group {
    margin-bottom: 10px;
    .avatar {
      margin-top: 10px;
      margin-right: 10px;
    }

    .message {
      position: relative;
    }

    .message--content {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 1px;
      border-radius: 4px;
      background-color: @message-background-color;
      user-select: text;

      a {
        color: @electric-blue;
        text-decoration: underline;
      }

      .emoji {
        .square(24px);
      }
    }

    .message--header, .message--timestamp {
      font-size: 11px;
      color: @gray;

      .timestamp {
        margin: 0 5px;
        color: @gray-light;
      }
    }

    .message--timestamp {
      display: none;
      position: absolute;
      right: 100%;
      color: @gray-light;
      font-size: 9px;
      width: 40px;
      margin-right: 10px;
      white-space: nowrap;
      text-align: center;
    }

    .message--preview-hide {
      .actionable;
      margin-left: 5px;
      margin-right: 5px;
      display: none;
      svg {
        .square(24px);
        path {
          fill: @gray-light;
        }
      }
    }

    .message:hover {
      .message--timestamp {
        display: block;
      }

      .message--preview-hide {
        display: inline-block;
      }
    }
  }

  .message-group:last-child {
    margin-bottom: 5px;
  }

  .message-group-me {
    .message--content {
      background-color: @message-me-background-color;
      color: @message-me-color;

      a {
        color: inherit;
      }
    }
  }
}

.message-group {
  blockquote {
    // quotes: "“" "”" "‘" "’";
    @color: fadeout(@color-dark, 25%);
    color: @color;
    background-color: fadeout(@white, 55%);

    font-style: italic;

    margin: 0 -10px;
    border-left: 5px solid fadeout(@color-dark, 75%);
    border-radius: inherit;
    padding: 0 10px;

    & > blockquote {
      border-radius: initial;
    }

    .paragraph {
      // display: inline-block;
    }
  }

  .paragraph + blockquote {
    margin-top: 0px;
  }

  code:not(.hljs) {
    font-family: 'Monaco', 'Source Code Pro', 'Consolas';
    line-height: 28px;
    background-color: fadeout(@white, 60%);
    display: inline-block;
    &::before, &::after {
      content: '\00a0';
      letter-spacing: -0.2em;
    }
  }

  .message--code-block {
    margin: 0 -10px;
    .language {
      font-size: 11px;
      padding: 0 10px;
    }
    pre {
      code.hljs {
        font-family: 'Monaco', 'Source Code Pro', 'Consolas';
        background-color: #fdfdfd;
        padding: .5em 10px;
        border: 1px solid @gray-lighter;
      }
    }
  }

  span + .message--code-block {
    border-top: 1px solid @white;
  }

  .mention {
    background-color: @mention-background-color;
    display: inline-block;
    &::before, &::after {
      content: '\00a0';
    }
  }

  .emoji {
    margin: 2px 0;
  }

  .hashtag--room {
    display: inline-block;
    background-color: fadeout(@black, 85%);
    text-decoration: none !important;
    color: inherit !important;
    &:before, &:after {
      content: '\00a0';
    }
  }
}

.message-group-me {
  .mention {
    background-color: fadeout(@black, 85%);
  }

  blockquote {
    @color: fadeout(@color-light, 25%);
    color: @color;
    background-color: fadeout(@white, 75%);
  }

  .message--code-block {
    pre code.hljs {
      border-color: @electric-blue;
      background-color: @gray-lighter;
    }
  }

}
