.settings-dialog {
  .size(100vw, 100vh);
  .dialog__content {
    padding: 0 !important;
    overflow: hidden;
    display: flex;
    flex-flow: column;

    .x-tabbar {
      flex: 1;
      min-height: 1px;
    }

    .x-tabs {
      background-color: @electric-blue;
      border-bottom-color: @electric-blue;
      .x-tab {
        color: @color-light;
      }

      .x-tab-selected {
        color: @color-dark;
        border-top: 1px dotted @gray;
        border-left: 1px dotted @gray;
        border-right: 1px dotted @gray;
      }
    }

    .x-tab-content {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  section, h4 {
    margin-top: 10px;
  }
}

.user-settings-dialog {
  border-radius: 0;
  .user-profile--info {

    input[type=text] {
      width: 85%;
    }
  }

  .user-profile--avatar {
    background-color: @gray-lighter;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

    .avatar {
      margin: 25px auto;
    }
  }

  .aliases {
    td:first-child {
      width: 30%;
    }

    td:last-child {
      width: 38px;
    }
  }
}

.room-settings-dialog {
  border-radius: 0;
  input[type=text] {
    width: 96%;
  }
}
