#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-color: @background-dark;

  transition: transform .2s ease-out;
  transform: translate3d(0, 100%, 0);
}

.splashscreen-inner {
  text-align: center;
  img {
    .square(200px);
  }
}
