@import "generic/_reset.less";
@import "_variables.less";
@import "generic/_mixins.less";
@import "generic/_animations.less";
@import "generic/_flex.less";
@import "generic/_text.less";
@import "generic/_forms.less";
@import "generic/_widgets.less";

html {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: @home-color;
  background-color: @home-background-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  overflow: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

@import "sections/_splashscreen.less";
@import "sections/_generic.less";
@import "sections/_app.less";
@import "sections/_dashboard.less";
@import "sections/_invitation-dialog.less";
@import "sections/_lobby.less";
@import "sections/_room.less";
@import "sections/_room_create.less";
@import "sections/_message.less";
@import "sections/_embed.less";
@import "sections/_settings-dialog.less";
@import "sections/_sidebar.less";
@import "sections/_account-switcher.less";
